.primary-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  color: #413c3d;
}
.tertiary-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #676767;
}
a {
  text-decoration: none;
}
.card-text-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #676767;
}
.card-text-dark {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #676767;
}
.card-text-light {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #bcbcbc;
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  color: #676767;
}

.label {
  color: #676767;
  font-size: 14px;
  font-weight: 600;
}
